-----BEGIN CERTIFICATE-----
MIIDGzCCAgOgAwIBAgIBBDANBgkqhkiG9w0BAQsFADAqMRIwEAYDVQQKEwlVbml4
Ny5vcmcxFDASBgNVBAMTC1BHZHVtcGVyIENBMCAXDTE3MTAxODA3NTQwMFoYDzIx
MTYwMzA1MTEwMDAwWjAnMRIwEAYDVQQKEwlVbml4Ny5vcmcxETAPBgNVBAMTCFBH
bWFzdGVyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApTv5u79DFB1S
eZxNgOYbHeu7GqcZ+wx89Byye/BWQ6c475hZUNCHHGpSWVXjsJJDvGwCfaIEHVvQ
hR+9rGOGQL6fRvv0uTKFRF2+S4iERHavIq2tDrBIq7UIoL+oYUgdesvXVjipr4A6
oGOrBs3CqI2u3a64Nn5ABMLOvg/6OOxlLJ9cz2IpBij8T+Ko+Bz+p/R4YH4tDrOb
oBLboJFid5rHyA8lopsee1vwLt781/ZYA8IFeGU/IsF3uvPiwlbj7TDbkD4wTx9L
MjWr6eZdLCKj8EIjdZj7gG+7xevxkX4VKLyUb385G7NIa+/CerE0DpnBnD5uXNSK
BYHCmt4lZQIDAQABo00wSzAJBgNVHRMEAjAAMAsGA1UdDwQEAwIEsDARBglghkgB
hvhCAQEEBAMCBeAwHgYJYIZIAYb4QgENBBEWD3hjYSBjZXJ0aWZpY2F0ZTANBgkq
hkiG9w0BAQsFAAOCAQEAR5jJBDEOcU/hsI8UmGhOdJRsoP/PUka7MmemvpOdI5n/
5auxXeQxBIZTGOdwyUK5rtcVTCpRDJJ1GQyR/YwgoBPAbOJWKruN5JaUebs1vN0Z
08WAP5mlrlUHbB++zGCHZ46KTBnyE7dCbZIBRP7Y7zGTfBC8tEzuujkoxU8a6/DB
59yOFLbNFd0FE1u8i5gJZTQpG6jJmuskarBDjDkQ+7VSA6XCmHPMHEC44ydsQSfP
AwnDJGvjLSNCR0k8rngumYVUyAO3N62iMRR9UpIjFGTwv8R96JiwieSn5qXIuiPv
3GofBGEM8uUPrq+wOA7c/sc+sNmlU8J7r/l5O2cwQQ==
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIDQzCCAiugAwIBAgIBATANBgkqhkiG9w0BAQsFADAqMRIwEAYDVQQKEwlVbml4
Ny5vcmcxFDASBgNVBAMTC1BHZHVtcGVyIENBMCAXDTE2MDMwNTExMDAwMFoYDzIx
MTYwMzA1MTEwMDAwWjAqMRIwEAYDVQQKEwlVbml4Ny5vcmcxFDASBgNVBAMTC1BH
ZHVtcGVyIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA57xlAD7O
TKXF6ds+21MtHNSZqOlyE87NX9VnLwec9D9brjBn9i3TeEotbYDG8E5ChoU6B9Ug
Vbs16/24PSbhigX/47mNrBWb+DmvxZMYeyhWqagg/oxK4JDzk+YnHuz/bAjdaI8G
KFxU3JAJqofhp/Y/zqVyjrmjJ3jX1TvxrQvvrp7abVIWHznoaJFHuCJ6kCK8kbtq
OEzRrKvaxZnFqkmjhU0qkmCKbs4krStM1WG7v0eS7qhQA+rJDjdyT8KEBUKrDFQc
ciRegVNY8s5pn9TcXNQf5NldLpdstizCPvPbOuudoqdj91UpaULZp8DSmj9aFFU7
vIPW8uMq6aT5XwIDAQABo3IwcDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBT0
bZCv9RHGsIWaAArZj6YRT9UvvDALBgNVHQ8EBAMCAQYwEQYJYIZIAYb4QgEBBAQD
AgAHMB4GCWCGSAGG+EIBDQQRFg94Y2EgY2VydGlmaWNhdGUwDQYJKoZIhvcNAQEL
BQADggEBAIax0KKMPnuptXgEBLlKYvrLmjgw2pT20gvWYigjY0nl/RX8P3bywQbx
BF2qpPYqi1Uo1BSlbX8c+5N40nk7OI+SVCwbIFgRzI3v3UH8bAec4nFFL6tHe0kd
OZxOWMPLXyJtUqaP1rHhoE4o6aKab09ZwLeOlN3aOzUhqvS8YV1cM/3nS3hqAFuI
CT0lDQi4iyuAoysnwYBGN/xHUGK3HEFKkaTwi8MZ9XIB9PTuf+vz9rvRZQb2u+pD
WdtZBT1DE3QIvO5M6ypMFehL64zbDKjVDXA2JNCFf+Nr5BsKxFG6QWITDpfXBSrf
mfElQ8AkLuWjOZwjNgg3aHHxj4kYq60=
-----END CERTIFICATE-----
